
/****** Object:  Database [DataManagement]    Script Date: 7/11/2019 3:56:02 PM ******/
CREATE DATABASE [DataManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DataManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DataManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataManagement]
GO
USE [DataManagement]
GO
/****** Object:  Table [dbo].[ZipFileDetail]    Script Date: 7/11/2019 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZipFileDetail](
	[ZipFileDetailId] [int] IDENTITY(1,1) NOT NULL,
	[FileHeaderId] [int] NOT NULL,
	[IsDerectory] [bit] NOT NULL,
	[FileName] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ZipFileDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ZipFileHeader]    Script Date: 7/11/2019 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZipFileHeader](
	[FileHeaderId] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](200) NULL,
	[CreatedUser] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedUser] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FileHeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ZipFileDetail] ADD  DEFAULT ((0)) FOR [IsDerectory]
GO
ALTER TABLE [dbo].[ZipFileHeader] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ZipFileHeader] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ZipFileDetail]  WITH CHECK ADD  CONSTRAINT [FK_ZipFileDetail_ZipFileHeader] FOREIGN KEY([FileHeaderId])
REFERENCES [dbo].[ZipFileHeader] ([FileHeaderId])
GO
ALTER TABLE [dbo].[ZipFileDetail] CHECK CONSTRAINT [FK_ZipFileDetail_ZipFileHeader]
GO
USE [master]
GO
